* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar h1 {
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: lowercase;
}
.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.lists li {
    margin-right: 30px;
}
.lists a {
    display: inline-block;
    color: #444;
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 320px;
    height: 400px;
    background-color: #999;
    border-radius: 10px;
    padding: 20px 30px;
    margin-right: 30px;
}
.box hr {
    margin-top: 180px;
}
.box h1 {
    margin-bottom: 40px;
    font-size: 25px;
}
.box a {
    display: inline-block;
    color: #444;
    text-decoration: none;
}