{% extends "asosiy.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block content %}

    <div class="container">
        <div class="category" style="text-align: center; margin: 30px 0px;">
            {% for x in categories %}
                <a href="/?category={{ x.name }}">{{ x.name }}</a> |
            {% endfor %}
            <a href="/">All</a>
        </div>
        <div class="wrapper">
            {% for x in cards %}
            <div class="box">
                <h1>{{ x.heading }}</h1>
                <p>{{ x.text }}</p>
                <hr>
                <a href="#">TWITTER</a>
            </div>
            {% endfor %}

            
        </div>
    </div>

{% endblock %}