{% extends 'asosiy.html' %}
{% block title %}Namangan{% endblock %}

{% block content %}
<div class="container">
    {% for x in namangan %}
    <div class="namangan">
        <img src="{{ x.image.url }}" alt="" width="500">
        <h1>{{ x.viloyat }}</h1>
        <p>{{ x.viloyat_haqida }}</p>
        <h3>{{ x.odam_soni }}ta odam yashaydi </h3>
        <h3>{{ x.ortacha_yosh }}yosh o'rtacha hisoblanadi </h3>
        <h3>{{ x.tumanlar_soni }}ta umumiy tumanlar mavjud</h3>
    </div>
    {% endfor %}
</div>
{% endblock %}